.masonry-grid {
    display: flex;
    margin-left: -10px; // Ajusta el espacio entre columnas
    width: auto;
    margin: 0 auto;
    width: 90%;
 }
 
 .masonry-grid_column {
    padding-left: 10px; // Espacio entre columnas
    background-clip: padding-box;
 }
 



.gallery {
    margin: 0 auto;
    width: 90%;
    grid-auto-rows: auto;
    

    h2 {
        width: 100%;
        text-align: center;
        display: block;
    }

    &__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;


        img {
            width: 100%;
            height: auto;
        }
    }

    &__options {
        position: absolute;
        bottom: 0;
        height: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        opacity: 0;

        button {
            border: 0;
            background-color: transparent;
        }
    }

    &__container:hover &__options {
        opacity: 1;
    }

}
.select_container{
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;

    select {
        width: 30%;
    }
    
}


@media only screen and (min-width: 768px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        grid-auto-rows: auto;
    }
}