header{
    background-image: url(../assets/fondo.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 3rem;

    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;

        h1{
            font-family: 'Raleway';
            font-weight: 400;
        }
    
        ul{
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: white;
                    padding-left: 2rem;
                }
            }
        }
    }
    
    .search{
        padding: 5rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        position: relative;
    
        .search-cont{
            position: relative;
            width: 70%;
            
            input{
                width: 100%;
                border-radius: 22px;
                border: 1px solid black;
                height: 1.3rem;
                padding-left: 1rem;
            }

            button{
                position: absolute;
                right: 0;
                top: 2px;
                width: 1.3rem;
                height: 1.3rem;
                border-radius: 50%;
                border: 0;
            }
        }
    
        select {
            width: 50%;
        }
    }
}

@media only screen and (min-width: 768px) { 
    header{
        background-image: url(../assets/fondo.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
        .search{
            padding: 5rem 0;
            gap: 2rem;
            position: relative;
            
            input{
                width: 50%;
                border-radius: 22px;
                border: 1px solid black;
                height: 2rem;
            }
            
            select {
                width: 30%;
            }
            
            
        }
    } 
}